<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>List Articles</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-md-6">
                <h5>List Categories</h5>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-sm float-end" th:href="@{/admin/articles/create}">Add</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr th:each="object: ${objects}">
                        <td th:text="${object.id}"></td>
                        <td th:text="${object.title}"></td>
                        <td>
                            <div th:if="${object.category}">
                                <span th:text="${object.category.name}"></span>
                            </div>
                        </td>
                        <td th:text="${object.description}"></td>
                        <td >
                            <span th:if="${object.status == 'ACT'}">Active</span>
                            <span th:if="${object.status == 'IAC'}">In Active</span>
                            <span th:if="${object.status == 'DEL'}">Delete</span>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-ms" th:href="@{'/admin/articles/edit/'+${object.id}}">Edit</a>
                            <a class="btn btn-danger btn-ms" th:href="@{'/admin/articles/delete/'+${object.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>